.root {
  max-width: 800px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #f3f3f3;
  text-align: left;
}

.distance {
  height: 40px;
  display: block;
}

.box {

  margin: auto
}

.innerBox {
  width: 70%;
  padding-top: 10px;
  margin: auto;
  background-color: #fff;
}

.container {
  width: 70%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #fff;
  text-align: left;
}

.detail {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  padding-top: 25px
}

.seperate {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(206, 206, 206);
  margin: 1em 0;
  padding: 0;
  padding-top: 20px;
}
